.header {

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 20;
    color: #fff;
    @include rem(padding, 10px 0);
    @include sm-block() {
        @include rem(padding, 25px 0);
    }

    &_main {

        &_desk {
            display: flex;
            align-items: center;

            @include sm-block() {
                justify-content: space-between;
            }
        }
    }
}

.logo {
    @include rem(padding-right, 70px);
    @include sm-block() {
        padding-right: 0;
    }

    img {
        @include rem(width, 130px);
        @include sm-block() {
            @include rem(width, 200px);
        }
    }

    &-menu {
        padding-right: 0;
        padding-top: 4rem;

        img {
            @include rem(width, 300px);
            @include sm-block(){
                @include rem(width, 300px);
            }
        }
    }
}

.langs {
    margin-left: 1.5rem;
    @include sm-block() {
        margin-left: 0rem;
    }

    .text-s16 {
        @include sm-block() {
            font-size: 2rem;
        }
    }
}


.menu_click {
    display: none;
    @include sm-block() {
        width: 4rem;
        height: 3rem;
        display: flex;

    }
}


.menu_icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    div {
        width: 4rem;
        height: 2px;
        background-color: #fff;
        @include rem(border-radius, 52px);
        overflow: hidden;
    }
}


.nav {

    &-head {
        flex-grow: 2;
        @include sm-block() {
            display: none;
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            align-items: center;

            li + li {
                margin-left: 1.5rem;
            }
        }
    }
}

.menu_block {
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .nav ul li img {
        width: 2rem;
        margin-right: 1.5rem;
    }

    .text-s16 {
        font-size: 2rem;
    }

    .soc a {
        width: 4rem;
    }

    .nav {
        margin: auto;
        margin-top: 5rem;
        text-align: center;

        ul {
            display: flex;
            flex-direction: column;

            li + li {
                margin-top: 4rem;
            }
        }
    }

    .soc {
        margin: auto;
        margin-top: 5rem;
    }
}

.close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    width: 4rem;
}


a {
    text-decoration: none;
    color: inherit;
}


body {
    @include sm-block() {
        &.body_menu_open {
            .menu {
                visibility: visible;
                transform: translateX(0%);
            }

            main {
                position: fixed;
                left: 0;
                top: 0;
                width: 100%;
            }
        }
    }
}

.phone {
    display: flex;
    flex-direction: column;
    @include rem(margin-right, 63px);

    &-dack {
        @include sm-block() {
            display: none;
        }
    }

    &_head {
        color: #bad640;
    }

    &_tel {
        font-weight: 900;
    }
}

.langs {
    text-transform: uppercase;
}
