<template>
    <div class="breadcrumb-nav">
        <div class="breadcrumb">
            <div class="breadcrumb_main">
                <router-link :to="breadcrumb_el['link']" v-for="(breadcrumb_el,breadcrumb_index) in breadcrumb"
                             class="breadcrumb-item">
                    <i class="material-icons text text-s16">{{ breadcrumb_el['icon'] }}</i>
                    <p class="text text-s14">{{ breadcrumb_el['name'] }}</p>
                </router-link>
            </div>
        </div>
    </div>
</template>



<script>


export default {
    props: ['breadcrumb'],
    data() {
        return {
            // searchTerm: this.$route.params.searchTerm,
        }
    },
    created() {

    }
}


</script>
