<template>
    <div>
        <span class="text text-s12 input_name">{{ row["placeholder"] }}</span>
        <input v-if="row['type']!='hasOne' && row['type']!='Maps'" :name="'save['+row['name']+']'"
               :value="(typeof data[row['name']] != 'undefined'? ((row['type']=='Password' || row['type']=='file')? '': data[row['name']]) :'')"
               :type="row['type']" class="form-control text text-s12"
               :required="!!row['required']"/>

        <select v-if="row['type']=='hasOne' && row['type']!='Maps'" :name="'save['+row['name']+']'">
            <option value=""></option>
            <option :value="name['id']"
                    :selected="(typeof data[row['name']] != 'undefined'?data[row['name']]==name['id']:false)"
                    v-for="(name,index) in row['hasOne']" :key="name['id']">
                {{ name["name"] }}
            </option>
        </select>

    </div>
</template>


<script>


export default {
    props: ['row'],
    data() {
        return {
            user: "",
        }
    },
    created() {

    },
    methods: {
        exit() {
            localStorage.setItem('token', null);
            location.reload();
        }
    }
}


</script>
