<template>
    <div class="model_edit">

        <form method="post" class="form-auth form-control" @submit.prevent="login">
            <div class="form-auth_head">
                <h2 class="msg">Вход в систему <b> Laravel</b></h2>
            </div>

            <div class="form-auth_main">
                <div class="input-text">
                    <span class="text text-s14 input_name">Логин</span>
                    <input name="login" value="" type="text" class="form-control text text-s12" required/>
                </div>
                <div class="input-text">
                    <span class="text text-s14 input_name">Пароль</span>
                    <input name="password" value="" type="password" class="form-control password text text-s12"
                           required/>
                    <div @click="show()" class="show_pasword text text-s14">Показать пароль</div>
                </div>
                <p class="text errors text-s18"
                   style=" display: none; background-color: #ff7171; margin-top: 1rem; padding: 0.5rem; color: #fff; ">
                    Введен неверный логин или пароль</p>
            </div>
            <div class="form-auth_btn">
                <button class="btn btn-sm btn-outline-secondary waves-effect px-4 text text-s14">Войти</button>
            </div>
        </form>
    </div>
</template>


<script>

import {inArray, serialize} from "../../../../overall/js/app";


export default {
    data() {
        return {
            model: '',
            validation: '',
        }
    },
    created() {

    },
    methods:
        {
            login(inputs) {
                const formData = serialize(inputs.target);
                axios.post('/api/auth/login', formData)
                    .then((response) => {
                        if (response["data"]["success"]) {
                            localStorage.setItem('token', response["data"]["data"]["token"]);
                            location.reload();
                        }
                    }).catch(error => {
                    $(".errors").css("display", "block");
                });
                return false;
            },
            show() {
                var $__this = $(".show_pasword");
                if ($__this.hasClass("active")) {
                    $__this.removeClass("active");
                    $(".password").prop("type", "password");
                    $(".show_pasword").text("Показать пароль");
                } else {
                    $__this.addClass("active");
                    $(".password").prop("type", "text");
                    $(".show_pasword").text("Скрыть пароль");
                }
            }

        }
}


</script>
