// Variables
@import '../../overall/sass/style';

body{
background-image: url("../img/1.png");
}



.canvas-container{
    background-color: #38404e;
    background-image: url('/public/media/admin/images/canvas/tile.png');
}
.canvas-container {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}
html, body {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    min-height: 100vh;
}
.b_centers {
    position: relative;
    z-index: 10;
    flex-grow: 2;
}
#constructor {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: 0px 0px;
    background-size: 6rem 6rem;
    background-repeat: no-repeat;

    &_main {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background-position: 0px 0px;
        background-size: 6rem 6rem;
        background-repeat: no-repeat;
    }

    canvas {
        left: 0;
        top: 0;
    }
}

