$mapSize: (
    main: ((s45:45, s16:18, s18 :24, s10 :10, s20:20, s24:24, s12:18, s28:24, s14:14, s15:15, s32:32, s35:35, s60:60, s50:50), "rem", 18),
    780: ((s16:32, s30:36, s18:34, s28:35, s14:24, s20:28, s35:45, s32:42), "rem", 18),
);


//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),
$mainSize: 1920;

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($val / 18 + rem));
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 18 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        #{$property}: $px; /* 9 */
    } @else {
        #{$property}: $px; /* 9 */
        #{$property}: $rem; /* 9 */
    }
}

html {
    //font-size: 1.250vw;
    font-size: 0.928vw;
    //@include w1420-block() {
    //    font-size: 1.208vw;
    //}
    @include sm-block() {
        font-size: 2.308vw;
    }

}


.text {

    &-m05 {
        margin-right: 0.5rem;
    }

    &-right {
        text-align: right;
    }

    &-line {
        text-decoration: underline;
    }

    @each $key, $sizeStap in $mapSize {
        @if ($key=="main") {
            @each $stapSize, $size in nth($sizeStap, 1) {
                &-#{$stapSize} {
                    @if (nth($sizeStap, 2)=="vw") {
                        font-size: #{$size/($mainSize/100)}vw;
                    } @else {
                        font-size: #{$size/nth($sizeStap, 3)}rem;
                    }
                }
                &-#{$stapSize}vw {
                    font-size: #{$size/($mainSize/100)}vw;
                }

            }
        } @else {
            @media screen and (max-width: #{$key}px) {
                @each $stapSize, $size in nth($sizeStap, 1) {
                    &-#{$stapSize} {
                        @if (nth($sizeStap, 2)=="vw") {
                            font-size: #{$size/($key/100)}vw;
                        } @else {
                            font-size: #{$size/nth($sizeStap, 3)}rem;
                        }
                    }
                    &-#{$stapSize}vw {
                        font-size: #{$size/($key/100)}vw;
                    }
                }
            }
        }
    }
}



