<template>

    <form @submit.prevent="updateTable" action="/api/table/update" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons text text-s10">dashboard</i>
                        <p class="text text-s10">
                            Консоль
                        </p>
                    </router-link>
                    <div class="breadcrumb-item">
                        <p class="text text-s10">
                            Database
                        </p>
                    </div>

                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons text text-m05 text-s24">cloud_queue</i> <span class="text text-s18">Database</span>
            <router-link class="btn btn-success btn-mate text text-s12" to="/admin/database/new/edit">
                <i class="material-icons text text-s12">add_circle_outline</i>
                Создать таблицу
            </router-link>
        </div>

        <div class="model_edit_main">

            <table
                class="table sortTables  table-bordered table-striped js-table dataTable order-table no-footer">
                <thead>
                <tr>
                    <th class="text text-s12">Имя модели</th>
                    <th></th>
                    <th class="text text-right text-s12">Table Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr class="inputGroup-check " v-for="(row,index) in tableList" :key="index">
                    <td>
                        <router-link class="text text-s12 text-line" :to="'/admin/database/'+row['name']+'/edit'">
                            <span class="text text-s12">{{ row["name"] }}</span>
                        </router-link>


                    </td>
                    <td>
                        <div class="bread-nav">
                            <router-link :to="'/admin/database/'+row['name']+'/bread'"
                                         class="btn btn-light btn-bread text text-s12">
                                <i class="material-icons text text-s16">add_circle</i> Add BREAD to this table
                            </router-link>
                        </div>
                    </td>
                    <td>
                        <div class="nav_table-btn">
                            <div @click="delete_table(index,row['name'])"
                                 class="btn btn-danger btn-df-center text text-s12">
                                <i class="material-icons text text-s14">delete_forever</i>
                            </div>
                            <router-link class="btn btn-success btn-df-center text text-s12"
                                         :to="'/admin/database/'+row['name']+'/edit'">
                                <i class="material-icons text text-s14">edit</i>
                            </router-link>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

    </form>


</template>


<script>


export default {
    data() {
        return {
            tableList: [],
        }
    },
    created() {
        axios.get('/api/table/list').then((response) => {
            this.tableList = response.data.data
        });
    },
    methods:
        {
            delete_table(index, name) {

                this.tableList.splice(index, 1);
                axios.post('/api/table/delete', {"name": name})
                    .then((response) => {
                        this.dbRowList = response.data.data
                    });
            }
        }
}


</script>
