// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Variables
@import '../../overall/sass/style';
@import './component/btn';


.table-bordered th, .table-bordered td {
    border: none;
}

.nav-bar {
    position: absolute;
    right: 1rem;
    top: 1rem;
    display: flex;
    flex-direction: column;
}


.btn-zoom {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .2);
    background-color: #fff;
    padding: 0;

    & + & {
        margin-top: 1rem;
    }
}

.menu_items {
    display: flex;
    align-items: center;

}

.point_add {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0rem;
    background-color: #f3f3f3;
    border: 1px solid #ccc;
    justify-content: space-between;
    margin-right: 1rem;
    width: 25%;

    &_img {
        width: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 75%;
    }
}

.pixi-box {
    width: 50%;
}

.maps_controls {
    position: relative;
    width: 100%;
    padding-top: 40%;
}


div#constructor {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    margin-top: 2rem;
    background-repeat: no-repeat;

    canvas {
        z-index: 10000;
    }
}

.list_filters {
    margin-top: 3rem;
}

.del_boasd {
    margin-left: 2rem;
}

.lis_borks {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.canvas-container {
    background-color: #38404e;
    background-image: url('/public/media/admin/images/canvas/tile.png');
}

.pixi_cons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.addMedia_filter {
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    margin-bottom: 150px;
    margin-left: -1rem;
}

.box_csbox {
    width: calc(25% - 1rem);
    border: 1px solid #ccc;
    padding: 1rem 1.5rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
    margin-left: 1rem;
    box-sizing: border-box;
}

.box_csbox_name {
    width: 100%;
    margin-bottom: 1rem;
}

.box_csbox_item {

    & + & {
        margin-top: 0.5rem;
    }
}

.pixi {
    width: 100%;
    position: relative;
    height: 0px;
    padding-top: 50%;

    &_main {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        background-position: 0px 0px;
        background-size: 6rem 6rem;
        background-repeat: no-repeat;
    }

    canvas {
        left: 0;
        top: 0;
    }
}

html, body {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    background-color: #f9f9f9;
}

body {
    font-family: "Open Sans", sans-serif;
}

.bread-nav {
    display: flex;
    justify-content: flex-start;
}

.profil-bar_img {
    overflow: hidden;
}

.profil-bar_name {
    display: flex;
    align-items: center;
}

.ratio_img_src {
    background-image: url("/public/media/admin/images/icon/user_def.png");
}

.table-bordered {
    th, td {
        vertical-align: revert;
    }

    &-top {
        th, td {
            vertical-align: top;
        }
    }
}

.table th, .table td {
    padding: 0.25rem;

}

#app {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.d-flex {
    flex-grow: 2;
    width: 100%;
}

main {
    width: 50%;
    flex-grow: 2;
    padding: 1rem;
    padding-bottom: 4rem;
}

.profil-bar {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0.5rem;

    &_img {
        width: 2rem;
        border-radius: 100%;
        background-color: #019ED8;
    }

    &_name {
        font-size: 14px;
        flex-grow: 2;
        width: 10%;
        padding: 5px;
        padding-left: 13px;
    }
}

.pixi_container {
    position: relative;
}

.menu_items-icons_listing {
    display: flex;
    flex-wrap: wrap;
    width: 100%;


    .icon_add + .icon_add {
        margin-top: 1rem;
    }

    .icon_add {
        margin-top: 1rem;
        margin-left: 1rem;
    }
}

.menu_items.menu_items-icons {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 100;
    background-color: #ffffffed;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    box-sizing: border-box;
    align-items: flex-start;
    display: none;

    &.active {
        display: flex;
    }

    .icon_add_img {
        width: 100px;
        height: 100px;
        padding-top: 0;
    }

    .icon_add {
        width: calc(25% - 1rem);
        display: flex;
    }

    .icon_nis {
        padding: 0rem !important;
        width: 10% !important;
        flex-grow: 2 !important;
        align-items: flex-start;
    }
}

.sitebar {
    border-right: 1px solid #ececec;
    display: flex;
    flex-direction: column;
    padding: 0;
    max-width: 280px;

    &_main {
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }

    &-head {
        background-color: #ececec;
        width: 100%;
    }

    &-main {
        height: 20px;
        flex-grow: 2;
        overflow-y: auto;

        @include rem(margin-top, 20px);

        &::-webkit-scrollbar-thumb {
            background-color: darkgrey;
            outline: 1px solid slategrey;
        }

        &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        }

        &::-webkit-scrollbar {
            width: 5px;
        }
    }
}


.toggle {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transform: translate3d(0, 0, 0);
    margin-bottom: 0;
}

.toggle:before {
    content: "";
    position: relative;
    top: 3px;
    left: 3px;
    width: 34px;
    height: 14px;
    display: block;
    background: #9A9999;
    border-radius: 8px;
    transition: background 0.2s ease;
}

.breadcrumb-item + .breadcrumb-item::before {
    font-size: 0.65rem;
}

.breadcrumb {
    background-color: #fff;
    border-radius: 2rem;
    position: relative;
    border: 1px solid #f9f9f9;
    padding: 0.25rem 0.75rem;

    &-nav {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }

    &_main {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    &-item {
        align-items: center;

        &:not(a) {
            color: #58595f;
        }

        i {
            margin-right: 0.25rem;
        }

        &:hover {
            text-decoration: none;
        }
    }
}

.menu_items-icons {
    display: flex;
    flex-direction: column;
    width: 150px;
}


.pixi-box {
    flex-grow: 2;
}

.pixi_container {
    margin-top: 2rem;
}

.icon_nis {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icon_add_img {
    padding-top: 100%;
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.icon_nis {
    padding: 1rem;
}

.icon_add {
    width: 100%;
    border: 1px solid #ccc;

    & + & {
        margin-top: 1rem;
    }


}

.pixi_container {
    display: flex;
    flex-wrap: wrap;
}

.name_ics {
    box-sizing: border-box;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1rem;
}


.sitebar_main_head {
    text-align: center;
    margin-top: 1.11111111rem;
    position: relative;
    padding-bottom: 1.111rem;
    margin-bottom: -0.52rem;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 15px;
        height: 1px;
        width: calc(100% - 30px);
        background-color: hsla(0, 0%, 71%, .3);
    }
}

.ch-def {
    label {
        margin-bottom: 0;
    }
}

.model-panel {
    margin-top: 1rem;

    &_main {
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 4px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, .05);
        padding: 1rem;
    }

    &_nav {
        border-top: 1px solid #e4eaec;
        background: linear-gradient(180deg, #fcfcfc 0, #fff);
        padding: 1rem 1rem;
    }
}

.model_action {
    display: flex;
    justify-content: flex-end;
}

.input-text {
    width: 100%;

    & + & {
        margin-top: 1rem;
    }
}

.breadcrumb-item + .breadcrumb-item::before {
    font-size: 0.65rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.breadcrumb-item {
    position: relative;
}

.breadcrumb-item + .breadcrumb-item {
    padding-left: 0.75rem;
    margin-left: 0.5rem;
}

.model_edit {

    &_head {
        display: flex;
        align-items: center;

        &-flex {
            flex-direction: column;
        }
    }

    &_main {
        margin: 1rem 0;
    }

    &_nav {
        display: flex;
        justify-content: center;

        .btn + .btn {
            margin-left: 1rem;
        }
    }
}

.input_name {
    margin-bottom: 0.5rem;
    color: #76838f;
    display: flex;
}

.toggle span {
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    display: block;
    background: white;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(154, 153, 153, 0.5);
    transition: all 0.2s ease;
}

.toggle span:before {
    content: "";
    position: absolute;
    display: block;
    margin: -18px;
    width: 56px;
    height: 56px;
    background: rgba(79, 46, 220, 0.5);
    border-radius: 50%;
    transform: scale(0);
    opacity: 1;
    pointer-events: none;
}

.checkbox:checked + .toggle:before {
    background: #947ADA;
}

.form-control {
    height: auto;
    padding: 0.2rem 0.25rem;

    &:focus {
        box-shadow: none;
    }
}

.checkbox:checked + span {
    background: #4F2EDC;
    transform: translateX(20px);
    transition: all 0.2s cubic-bezier(0.8, 0.4, 0.3, 1.25), background 0.15s ease;
    box-shadow: 0 3px 8px rgba(79, 46, 220, 0.2);
}

h1 {
    margin-bottom: 0 !important;
}

.checkbox:checked + span:before {
    transform: scale(1);
    opacity: 0;
    transition: all 0.4s ease;
}


.vue-notification-group {
    margin-top: 12px;
    margin-right: 12px;
}

.vue-notification-wrapper {
    overflow: inherit !important;
}

.vue-notification {
    padding: 10px;
    margin: 0 5px 5px;
    margin-right: 0 !important;
    font-size: 12px;

    color: #ffffff;
    background: #44A4FC;
    border-left: 5px solid #187FE7;
    box-shadow: 0 0 12px #999;
    border-radius: 3px 3px 3px 3px;

    &.warn {
        background: #ffb648;
        border-left-color: #f48a06;
    }

    &.error {
        background: #E54D42;
        border-left-color: #B82E24;
    }

    &.success {
        background: #68CD86;
        border-left-color: #42A85F;
    }
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #fdfdfd;
}

a {
    color: #337ab7;
}

.nav_table-btn {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .btn + .btn {
        margin-left: 0.5rem;
    }
}

.table-bordered {
    border: none;
}


.drop {

    .drop_menu {
        .btn {
            padding-left: 1rem;
        }
    }

    &_menu {
        display: none;
        background-color: #fff;
    }

    &.active &_menu {
        display: block;
    }
}


.form-auth {
    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 10rem;
    background: #fff;
    min-height: 50px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    padding: 0 1.4rem;
    padding-bottom: 1.4rem;
    border-radius: 0;

    &_head {
        width: 100%;
        text-align: center;
        padding: 1.5rem 0;
        padding-bottom: 1rem;
    }

    &_main {
        margin-bottom: 1rem;
    }

    &_btn {
        display: flex;
        justify-content: flex-end;
    }
}


.input-text {
    position: relative;
}

.input-text-flex {
    display: flex;
    align-items: center;

    input {
        width: 10%;
        flex-grow: 2;
    }
}

.pixi {
    position: relative;
}


.control_items, .edit_model {
    //position: absolute;
    //left: 0;
    //top: 0;
    //width: 200px;
    //background-color: #fff;
    //box-shadow: 0px 0px 1px 1px #ccc;
    //display: none;
    //transform: translate(5px, 5px);
    //z-index: 100000000000;

    &.active {
        display: block;
    }
}

.remove_items {

}

.box_controls {
    padding: 1rem 0.5rem;
    box-sizing: border-box;
}

.btn-stiling {
    display: flex;
    width: 100%;
    background-color: #ffffff;
    padding: 0.75rem;
    text-decoration: none;
}

.btn-stiling + .btn-stiling {
    border-top: 1px solid #ccc;
}

.select_filter {
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.menu_items_breaf {
    background-color: #fff;
    padding: 1rem;

    input {
        margin-left: 1rem;
    }
}

.show_pasword {
    position: absolute;
    right: 0.25rem;
    bottom: 0.25rem;
    cursor: pointer;
}

.text_conbox {
    padding: 1rem;
}

.canvas-container {
    position: absolute !important;
    left: 0 !important;
    top: 0 !important;
    width: 100% !important;
    height: 100% !important;
}

.form_bos {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 200px;
    height: 200px;
    transform: translate(-50% -50%);
}
