<template>

    <form @submit.prevent="updateTable" action="/api/table/update" onSubmit="return false;" method="post"
          class="model_edit">

        <breadcrumb :breadcrumb="breadcrumb"/>

        <div class="model_edit_head">
            <i class="material-icons text text-m05 text-s24">cloud_queue</i> <span class="text text-s18"> {{
                model=="Restaurant"?"Объявления":model
            }}</span>
            <router-link class="btn btn-success addMerg btn-mate text text-s12" :to="add_link">
                <i class="material-icons text text-s12">add_circle_outline</i>
                Новая запись
            </router-link>

            <router-link v-if="model=='Media'" class="btn btn-success addMerg btn-mate text text-s12"
                         :to="add_link2">
                <i class="material-icons text text-s12">add_circle_outline</i>
                Добавить Несколько картинок
            </router-link>
        </div>

        <div class="select_filter" v-if="model=='User'">
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Тип пользователя
                </p>
                <select name="" id="">
                    <option value="">Заведение</option>
                    <option value="">Гость</option>
                </select>
            </div>
        </div>

        <div class="select_filter" v-if="model=='ReservationOrder'">
            <div class="input-text">
                <p class="text text-s12 input_name">
                    Поиск по дате
                </p>
                <div class="controlers" style="display: flex;justify-content: space-between;">
                    <div class="input-text" style="margin:1rem 0;width: 47%;    ">
                        <p class="text text-s16 input_name">
                            C
                        </p>
                        <input id="date_from" placeholder="" type="datetime-local" class="form-control text text-s16"/>
                    </div>
                    <div class="input-text" style="margin:1rem 0;width: 47%;">
                        <p class="text text-s16 input_name">
                            По
                        </p>
                        <input id="date_to" placeholder="" type="datetime-local" class="form-control text text-s16"/>
                    </div>
                </div>
            </div>
        </div>


        <div class="select_filter" v-if="model=='Restaurant' || model=='ReservationOrder'">
            <div class="input-text">
                <p class="text text-s16 input_name">
                    Город
                </p>
                <select id="city" name="city" class="text text-s16">
                    <option value="">Все</option>
                    <option v-for="(city_name,city_index) in city" :selected="city_select==city_name['id']"
                            :value="city_name['id']">{{
                        city_name["name"]
                        }}
                    </option>
                </select>
            </div>
        </div>

        <div class="select_filter" v-if="model=='Reservation'">

        </div>


        <div class="model_edit_main">
            <div class="input-text" style="margin:1rem 0;">
                <p class="text text-s16 input_name">
                    Поиск
                </p>
                <input id="search_date" placeholder="" class="form-control text text-s16"/>
            </div>
            <table
                class="table sortTables  table-bordered table-striped js-table dataTable order-table no-footer">
                <thead>
                <tr>
                    <th v-for="(column,column_index) in thead" class="text text-s16">{{ column }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                <tr class="inputGroup-check " v-for="(row,row_index) in this.data" :key="row_index">
                    <td v-for="(column,column_index) in thead">
                        <div class="bread-nav">
                            <router-link :to="'/admin/'+model+'/edit/'+row['id']" class="text text-s16">
                                <div v-if="model!='Media'">
                                    {{ row[column_index] }}
                                </div>

                                <div v-if="model=='Media' && column_index!='images'">
                                    {{ row[column_index] }}
                                </div>
                                <div v-if="model=='Media' && column_index=='images'">
                                    <img :src="'/public/'+row[column_index]" style="width:100px;" alt="">
                                </div>
                            </router-link>
                        </div>
                    </td>
                    <td>
                        <div class="nav_table-btn">
                            <div @click="delete_row(row_index ,row['id'])"
                                 class="btn btn-danger btn-df-center text text-s12">
                                <i class="material-icons text text-s14">delete_forever</i>
                            </div>


                            <router-link v-if="model!='Reservation'" class="btn btn-success btn-df-center text text-s12"
                                         :to="'/admin/'+model+'/edit/'+row['id']">
                                <i class="material-icons text text-s14">edit</i>
                            </router-link>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <!--            btn-success-->
            <div class="btns" style="margin-top: 40px;margin-bottom: 20px;">
                <a href="javascript:void(0)" v-for="n in page_count" style="margin-right: 10px;" :data-page="n"
                   :class="'page-open btn btn-outline-success text text-s12 '+(n==page ? ' active ':'')">{{ n }}</a>
            </div>
        </div>
    </form>
</template>


<script>
import breadcrumb from "../../components/breadcrumb";

export default {
    components: {
        'breadcrumb': breadcrumb,
    },

    data() {
        return {
            thead: [],
            add_link: '',
            city: '',
            city_select: window.user_get["message"].city_id,
            page: 1,
            page_count: 1,
            add_link2: '',
            model: this.$route.params.model,
            data: [],
            breadcrumb: [
                {
                    "icon": "dashboard",
                    "name": "Консоль",
                    "link": "/admin",
                },
                {
                    "icon": "",
                    "name": this.$route.params.model,
                    "link": "",
                },
            ],
        }
    },
    created() {
        this.fetchData();
        var __this = this;
        window.query = this.$route.query;

        $(document).on("click", ".page-open", function () {
            __this.page = $(this).data("page");
            __this.fetchData();
        });

        function search_send(events) {

            let add_senarch = "";
            if ($("#city").length > 0) {
                add_senarch += "&city_id=" + $("#city").val()
            }

            if ($("#date_from").length > 0 && $("#date_to").length > 0) {
                if ($("#date_from").val() != "") {
                    add_senarch += (add_senarch == "" ? "?" : "&") + "date_from=" + $("#date_from").val()
                }
                if ($("#date_to").val() != "") {
                    add_senarch += (add_senarch == "" ? "?" : "&") + "date_to=" + $("#date_to").val()
                }
            }


            __this.page = 1;
            axios.get('/api/database/get/' + __this.$route.params.model + "?search=" + events + add_senarch + "&page=1").then((response) => {
                __this.data = response.data.data;
            });
        }

        let time_s = null;

        $(document).on("change", "#city", function () {
            __this.fetchData();
        });

        $(document).on("change", "#date_from", function () {
            if (time_s != null) {
                clearTimeout(time_s);
                time_s = null;
            }
            time_s = setTimeout(() => {
                search_send($("#search_date").val());
            }, 500);
            if ($(this).val() == "") {
                clearTimeout(time_s);
                time_s = null;
                __this.fetchData();
            }
        });
        $(document).on("change", "#date_to", function () {
            if (time_s != null) {
                clearTimeout(time_s);
                time_s = null;
            }
            time_s = setTimeout(() => {
                search_send($("#search_date").val());
            }, 500);
            if ($(this).val() == "") {
                clearTimeout(time_s);
                time_s = null;
                __this.fetchData();
            }
        });

        $(document).on("keyup", "#search_date", function () {
            if (time_s != null) {
                clearTimeout(time_s);
                time_s = null;
            }
            time_s = setTimeout(() => {
                search_send($(this).val());
            }, 500);
            if ($(this).val() == "") {
                clearTimeout(time_s);
                time_s = null;
                __this.fetchData();
            }
        });

    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            delete_row(index, id) {

                if (confirm("Удалить?")) {
                    axios.post('/api/database/' + this.model + "/delete", {"id": id})
                        .then((response) => {
                            this.$notify({
                                group: 'notifications',
                                type: 'error',
                                title: 'Запись ' + (id) + ' удалена',
                            });
                        });
                    this.data.splice(index, 1);
                }
            },
            fetchData() {


                axios.get('/api/database/get/City').then((response) => {
                        this.city = response.data.data


                        axios.get('/api/database/' + this.$route.params.model + "/browse_column").then((response) => {
                            this.thead = response.data.data;
                            this.model = this.$route.params.model;
                            this.breadcrumb[1]["name"] = this.$route.params.model;

                            this.add_link = '/admin/' + this.model + '/edit/0'

                            var drop_url = "";

                            if (this.model == "Reservation") {
                                if (typeof this.$route.query.schemeelements_id != "undefined") {
                                    drop_url = "?schemeelements_id=" + this.$route.query.schemeelements_id;
                                }
                            }


                            if (typeof this.$route.query.restaurant_id != 'undefined') {
                                this.add_link = '/admin/' + this.model + '/edit/0?restaurant_id=' + this.$route.query.restaurant_id;
                                drop_url += (drop_url == "" ? "?" : "&") + "restaurant_id=" + this.$route.query.restaurant_id

                                this.add_link2 = '/admin/multy?restaurant_id=' + this.$route.query.restaurant_id;

                            }

                            if (typeof this.$route.query.restaurant_scheme_id != 'undefined') {
                                drop_url += (drop_url == "" ? "?" : "&") + "restaurant_scheme_id=" + this.$route.query.restaurant_scheme_id
                            }

                            if (typeof this.$route.query.from != 'undefined') {
                                drop_url += (drop_url == "" ? "?" : "&") + "from=" + this.$route.query.from
                            }
                            if (typeof this.$route.query.to != 'undefined') {
                                drop_url += (drop_url == "" ? "?" : "&") + "to=" + this.$route.query.to
                            }

                            drop_url += (drop_url == "" ? "?" : "&") + "page=" + this.page


                            if ($("#city").length > 0) {
                                drop_url += (drop_url == "" ? "?" : "&") + "city_id=" + $("#city").val()
                            } else {
                                if (this.model == "Restaurant" || this.model == "ReservationOrder") {
                                    drop_url += (drop_url == "" ? "?" : "&") + "city_id=" + this.city_select
                                }
                            }

                            if ($("#date_from").length > 0 && $("#date_to").length > 0) {
                                // drop_url += (drop_url == "" ? "?" : "&") + "date_from=" + $("#date_from").val() + "&date_to=" + $("#date_to").val()
                            }


                            var _token = localStorage.getItem('token');
                            var _s_this = this;
                            $.ajax({
                                url: '/api/database/get/' + this.$route.params.model + drop_url,
                                type: "GET",
                                async: false,
                                cache: false,
                                headers: {
                                    'Accept': 'application/json',
                                    'Authorization': 'Bearer ' + _token
                                },
                                success: function (response) {
                                    _s_this.data = response.data;
                                    _s_this.page_count = response.message.pages;
                                },
                                error: function (res) {

                                }
                            });
                            // axios.get('/api/database/get/' + this.$route.params.model + drop_url).then((response) => {
                            //     this.data = response.data.data;
                            // });
                        });

                    }
                );
                axios.get('/api/database/get/Restaurant').then((response) => {
                        this.restaurant = response.data.data
                    }
                );


            }
        }
}


</script>
