<template>
    <div>
        <form @submit.prevent="database_save" onSubmit="return false;" method="post"
              class="model_edit">

            <div class="breadcrumb-nav">
                <div class="breadcrumb">
                    <div class="breadcrumb_main">
                        <router-link to="/admin" class="breadcrumb-item">
                            <i class="material-icons text text-s10">dashboard</i>
                            <p class="text text-s10">
                                Консоль
                            </p>
                        </router-link>
                        <router-link :to="'/admin/'+model+'/browse'" class="breadcrumb-item">
                            <p class="text text-s10">
                                {{ model }}
                            </p>
                        </router-link>
                        <div class="breadcrumb-item">
                            <p class="text text-s10">
                                Новая запись
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="model_edit_head">
                <i class="material-icons text text-m05 text-s24">cloud_queue</i>
                <span class="text text-s18">{{ model }}</span>

                <input type="submit" value="сохранить" class="btn btn-primary pull-right text text-s12">
            </div>

            <div method="post"
                 class="model_edit">

                <div class="model-panel">
                    <!--                <div class="model-panel_nav">-->
                    <!--                    <input type="submit" value="принять" class="btn btn-primary pull-right text text-s12">-->
                    <!--                </div>-->
                    <div class="model-panel_main">

                        <div class="model_edit_head model_edit_head-flex">

                            <div class="input-text" v-for="(row,index) in inputs" :key="index">
                            <span class="text text-s12 input_name" style="display:flex;align-items: center;">
                                 <a v-if="row['type']=='file'" target="_blank" class="material-icons"
                                    :href="typeof data[row['name']] != 'undefined'?data[row['name']]:''"
                                    style="display: flex;margin: 0rem 1rem;margin-left: 0;">
                                    {{
                                         typeof data[row['name']] != 'undefined' ? (data[row['name']] != null ? 'check_circle_outline' : '') : ''
                                     }}
                                </a>
                               {{ row["placeholder"] }}
                            </span>

                                <input v-if="row['type']!='hasOne' && row['type']!='Maps' && row['type']!='Textarea'"
                                       :name="'save['+row['name']+']'"
                                       :value="(typeof data[row['name']] != 'undefined'? ((row['type']=='Password' || row['type']=='file')? '': (row['type']=='Datetime-local'?data[row['name']]:data[row['name']])) :'')"
                                       :type="row['type']" class="form-control text text-s12"
                                       :required="!!row['required']"/>


                                <textarea v-if="row['type']=='Textarea'" :name="'save['+row['name']+']'"
                                          class="form-control text text-s12" style="min-height: 150px;"
                                          :required="!!row['required']">{{
                                        (typeof data[row['name']] != 'undefined' ? ((row['type'] == 'Password' || row['type'] == 'file') ? '' : data[row['name']]) : '')
                                    }}</textarea>

                                <select v-if="row['type']=='hasOne' && row['type']!='Maps'"
                                        :name="'save['+row['name']+']'">
                                    <option value=""></option>
                                    <option :value="name['id']"
                                            :selected="(typeof data[row['name']] != 'undefined'?data[row['name']]==name['id']:false)"
                                            v-for="(name,index) in row['hasOne']" :key="name['id']">
                                        {{ name["name"] }}
                                    </option>
                                </select>
                                <p id="address" v-if="row['type']=='Maps'" class="text text-s14 adress_name">
                                </p>
                                <div v-if="row['type']=='Maps'">
                                    <div style="display: flex;margin: 1rem 0;">
                                        Выбранные координаты заведения
                                        {{ typeof data[row['name']] != 'undefined' ? data[row['name']] : '' }}
                                    </div>
                                </div>
                                <input type="hidden" id="ypoint" v-if="row['type']=='Maps'"
                                       :value="(typeof data[row['name']] != 'undefined'? ((row['type']=='Password' || row['type']=='file')? '': data[row['name']]) :'')"
                                       :name="'save['+row['name']+']'">
                                <yandex-map v-if="row['type']=='Maps'"
                                            :coords="coords"
                                            ref="ymaps"
                                            :map-type="maptype"
                                            @click="onClick2"
                                            @map-was-initialized="onInitMap"
                                            style="width: 100%; height: 400px">
                                </yandex-map>
                            </div>

                            <div class="input-text" v-if="model=='Slider'">
                                <p class="text text-s12 input_name">
                                    Заблокировать
                                </p>
                                <select :name="'save[type]'">
                                    <option
                                        :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']=='Главная':false)"
                                        value="Главная">Главная
                                    </option>
                                    <option
                                        :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']=='Топ':false)"
                                        value="Топ">Топ
                                    </option>
                                    <option
                                        :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']=='Рестораны':false)"
                                        value="Рестораны">Рестораны
                                    </option>
                                    <option
                                        :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']=='Кафе':false)"
                                        value="Кафе">Кафе
                                    </option>
                                    <option
                                        :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']=='Бары':false)"
                                        value="Бары">Бары
                                    </option>
                                    <option
                                        :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']=='Кофейня':false)"
                                        value="Кофейня">Кофейня
                                    </option>
                                </select>
                            </div>

                            <div class="input-text" v-if="model=='User'">
                                <p class="text text-s12 input_name">
                                    Заблокировать
                                </p>
                                <select name="" id="">
                                    <option value="0">Нет</option>
                                    <option value="1">Да</option>
                                </select>
                            </div>

                            <div class="input-text" v-if="model=='CatalogItem'">
                            <span class="text text-s12 input_name"
                                  style="display:flex;align-items: center;"> Завеление</span>
                                <div class="list_filter" style="margin-top: 10px;">
                                    <select :name="'save[restaurant_id]'">
                                        <option value=""></option>
                                        <option :value="name['id']"
                                                :selected="(typeof data['restaurant_id'] != 'undefined'?data['restaurant_id']==name['id']:false)"
                                                v-for="(name,index) in restaurant" :key="name['id']">
                                            {{ name["name"] }}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </div>


                    </div>

                    <div class="pixi_container" v-if="model=='Restaurant' && id!='0'" style="margin-top: 0;">
                        <div class="menu_items_breaf" style="width:100%;min-height:100px; margin-top: 0; ">
                            <router-link to="/admin/Brief/edit/0" class="btn btn-def"
                                         style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">
                                Добавить бриф
                            </router-link>
                        </div>

                        <div class="addMedia" v-if="model=='Restaurant' && id!='0'">
                            <router-link :to="'/admin/Media/browse?restaurant_id='+id" class="btn btn-def"
                                         style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">
                                Фото
                            </router-link>
                        </div>


                    </div>

                    <div class="pixi_container" v-if="model=='Restaurant' && id!='0'" style="margin-top: 0;">
                        <div class="menu_items_filter" style="width:100%;min-height:100px; margin-top: 0; ">
                            <router-link to="/admin/Brief/edit/0" class="btn btn-def"
                                         style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">
                                Добавить фильтер
                            </router-link>
                        </div>
                    </div>


                    <div class="pixi_container" v-if="model=='RestaurantHall' && id!='0'">
                        <div class="menu_items menu_items-icons" style="min-height:100px;">
                            <div class="menu_items-icons_listing">
                                <router-link to="/admin/SchemeElements/edit/0" class="btn btn-def">Добавить
                                </router-link>
                            </div>
                        </div>
                        <div class="pixi-box">
                            <button type="button" class="alignment btn btn-primary" data-action="x"
                                    style="margin-bottom: 15px;">Выровнять по вертикале
                            </button>
                            <button type="button" class="alignment btn btn-primary" data-action="y"
                                    style="margin-bottom: 15px;">Выровнять по горизонтали
                            </button>


                            <div class="pixi">
                                <div class="pixi_cons">
                                    <canvas id="pixi" class="pixi_main"></canvas>
                                </div>
                                <div class="nav-bar">
                                    <a href="javascript:void(null);" class="btn btn-zoom btn-zoom-plus">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="32"
                                             height="32"
                                             fill="currentColor">
                                            <path d="M24 15h-7V8h-2v7H8v2h7v7h2v-7h7v-2z"></path>
                                        </svg>
                                    </a>
                                    <a href="javascript:void(null);" class="btn btn-zoom btn-zoom-minus">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="currentColor"
                                             width="32"
                                             height="32">
                                            <path d="M8 15h16v2H8z"></path>
                                        </svg>
                                    </a>

                                    <a href="javascript:void(null);" class="btn btn-zoom open_items">
                                        <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24"
                                             viewBox="0 0 24 24" fill="black" width="18px" height="18px">
                                            <g>
                                                <path d="M0,0h24v24H0V0z" fill="none"/>
                                                <path
                                                    d="M19.14,12.94c0.04-0.3,0.06-0.61,0.06-0.94c0-0.32-0.02-0.64-0.07-0.94l2.03-1.58c0.18-0.14,0.23-0.41,0.12-0.61 l-1.92-3.32c-0.12-0.22-0.37-0.29-0.59-0.22l-2.39,0.96c-0.5-0.38-1.03-0.7-1.62-0.94L14.4,2.81c-0.04-0.24-0.24-0.41-0.48-0.41 h-3.84c-0.24,0-0.43,0.17-0.47,0.41L9.25,5.35C8.66,5.59,8.12,5.92,7.63,6.29L5.24,5.33c-0.22-0.08-0.47,0-0.59,0.22L2.74,8.87 C2.62,9.08,2.66,9.34,2.86,9.48l2.03,1.58C4.84,11.36,4.8,11.69,4.8,12s0.02,0.64,0.07,0.94l-2.03,1.58 c-0.18,0.14-0.23,0.41-0.12,0.61l1.92,3.32c0.12,0.22,0.37,0.29,0.59,0.22l2.39-0.96c0.5,0.38,1.03,0.7,1.62,0.94l0.36,2.54 c0.05,0.24,0.24,0.41,0.48,0.41h3.84c0.24,0,0.44-0.17,0.47-0.41l0.36-2.54c0.59-0.24,1.13-0.56,1.62-0.94l2.39,0.96 c0.22,0.08,0.47,0,0.59-0.22l1.92-3.32c0.12-0.22,0.07-0.47-0.12-0.61L19.14,12.94z M12,15.6c-1.98,0-3.6-1.62-3.6-3.6 s1.62-3.6,3.6-3.6s3.6,1.62,3.6,3.6S13.98,15.6,12,15.6z"/>
                                            </g>
                                        </svg>
                                    </a>
                                </div>

                            </div>
                        </div>
                    </div>


                    <div class="list_filter" style="margin-top: 10px;" v-if="model=='Filter' && id!='0'">
                        <div class="list_filters"></div>
                        <router-link :to="'/admin/FilterItem/edit/0?filter_id='+id" class="btn btn-primary">
                            Добавить компоненты фильтров
                        </router-link>
                    </div>


                    <div class="list_filter" style="margin-top: 10px;" v-if="model=='Catalog' && id!='0'">
                        <div class="list_restoran"></div>

                    </div>

                    <div class="addMedia_filter" v-if="model=='Restaurant' && id!='0'">

                        <div class="box_csbox" v-for="(name,index) in myFilters" :key="name['id']">
                            <div class="box_csbox_name">
                                {{ name["name"] }}
                            </div>
                            <div class="box_csbox_box">
                                <div class="box_csbox_item" v-for="(name_item,index_item) in name['childs']"
                                     :key="name_item['id']">

                                    <div class="ch-def">
                                        <input type="checkbox" :id="'filter'+name_item['id']+'[add]'"
                                               :value="name_item['id']"
                                               :checked="myFiltersCheck.includes(name_item['id']) == true"
                                               :name="'filter[]'">
                                        <label :for="'filter'+name_item['id']+'[add]'">{{ name_item['name'] }}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="model_edit_head" style="margin-top: 1rem;">
                <input type="submit" value="сохранить" style="font-size: 18px;"
                       class="btn btn-primary pull-right text text-s12">
            </div>


        </form>

        <modal
            :width="200"
            :height="200"
            name="my-first-modal">
            <div class="text_conbox">
                <div class="edit_model position_update">
                    <div class="box_controls">
                        <div class="input-text">
                            <p class="text text-s18 input_name">
                                Название стола
                            </p>
                            <input id="name" value=""
                                   type="text"
                                   class="form-control text text-s18"/>

                            <input id="id_s" type="hidden" value="">
                        </div>
                    </div>
                    <a href="javascript:void(null)"
                       class="send_rotate_new btn-stiling data_edit text text-s18">применить</a>
                </div>
            </div>
        </modal>

    </div>


</template>

<script>

import {serialize} from "../../../../../overall/js/app";
import {fabric} from 'fabric'

import {yandexMap, ymapMarker} from 'vue-yandex-maps'
import PIXI from "pixi.js";

export default {
    components: {yandexMap, ymapMarker},
    data() {
        return {
            user: window.user_get,
            inputs: [],
            coords: [43.241274, 76.922675],
            model: this.$route.params.model,
            id: this.$route.params.id,
            data: [],
            polygons: [],
            maptype: 'map',
            map: null,
            marker: null,
            shane_one: [],
            shane_one_id: [],
            myCollection: [],
            myFilters: [],
            myFiltersCheck: [],
            restaurant: [],
            settings: {
                apiKey: 'a2a8abd6-66b5-4670-8e3a-4df11e81e634',
                lang: 'ru_RU',
                coordorder: 'latlong',
                version: '2.1'
            }
        }
    },
    created() {

        var ___this = this;

        $(document).off("click", ".add_objor");
        $(document).on("click", ".add_objor", function () {

            var __submit_box = {
                "id": 0,
                "save": {"content": "", "restaurant_id": ___this.id},
                "model_name": "Brief"
            };


            const formData = serialize($("form")[0]);
            formData.append("id", ___this.id);
            formData.append("model_name", ___this.model);

            axios.post('/api/database/update', formData)
                .then((response) => {
                    this.id = response.data.data[0]["id"];
                    this.data = response.data.data[0];

                    axios.post('/api/database/update', __submit_box).then((response) => {
                        window.update_brif();
                    });
                    this.$notify({
                        group: 'notifications',
                        type: 'success',
                        title: 'Запись обновлена',
                    });
                    this.drawPixi();
                });


        });

        $(document).off("click", ".open_items");
        $(document).on("click", ".open_items", function () {
            $(".menu_items.menu_items-icons").addClass("active");
        });

        $(document).off("click", ".close_hell");
        $(document).on("click", ".close_hell", function () {
            $(".menu_items.menu_items-icons").removeClass("active");
        });


        $(document).on("click", ".delete_brif", function () {
            var $this = $(this);
            axios.post('/api/database/Brief/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".input-text").remove();
                });

        });


        $(document).on("click", ".del_boasd", function () {
            var $this = $(this);
            axios.post('/api/database/FilterItem/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".lis_borks").remove();
                });
        });
        $(document).on("click", ".del_restors", function () {
            var $this = $(this);
            axios.post('/api/database/CatalogItem/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".lis_borks").remove();
                });
        });

        $(document).on("click", ".delete_hell", function () {
            var $this = $(this);
            axios.post('/api/database/RestaurantHall/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".point_add").remove();
                });
        });

        $(document).on("click", ".delete_breaf", function () {
            var $this = $(this);
            axios.post('/api/database/Brief/delete', {"id": $this.data("id")})
                .then((response) => {
                    $this.closest(".point_add").remove();
                });
        });

        this.fetchData();
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            show() {

                this.$modal.show('my-first-modal');


            },
            hide() {
                this.$modal.hide('my-first-modal');
            },
            update_info(coord) {
                var cord = coord;
                $('#ypoint').val(cord.join(","));
                ymaps.geocode(cord).then(function (res) {
                    var data = res.geoObjects.get(0).properties.getAll();
                    $('#address').text(data.text);
                });
            },
            initMarket(coord) {

                var settingsUser = {};
                var presetUser = {};
                var
                    settingsInit = {
                        "type": "Point",
                        "coordinates": coord,
                        "iconContent": "",
                        "hintContent": "",
                        "preset": "islands#blackStretchyIcon",
                        "draggable": true,
                    };
                if (typeof presetUser != "undefined") {
                    settingsInit["preset"] = presetUser;
                }
                if (!jQuery.isPlainObject(settingsUser)) {
                    if (jQuery.isArray(settingsUser)) {
                        settingsUser[0] = parseFloat(settingsUser[0]);
                        settingsUser[1] = parseFloat(settingsUser[1]);
                        settingsUser = {"coordinates": settingsUser};
                    }
                }
                var settings = $.extend(settingsInit, settingsUser);

                var myPolygon = new ymaps.GeoObject({
                    geometry: {
                        type: settings.type,
                        coordinates: settings.coordinates
                    },
                    properties: {
                        iconContent: settings.iconContent,
                        hintContent: settings.hintContent
                    }
                }, {
                    preset: settings.preset,
                    draggable: settings.draggable
                });

                var ___this = this;
                myPolygon.events.add('dragend', function (e) {
                    ___this.update_info(e.get('target').geometry.getCoordinates())
                });
                ___this.update_info(coord);

                this.marker = myPolygon;
                this.myCollection.add(myPolygon);
                this.map.geoObjects.add(this.myCollection)
            },
            onInitMap(map) {

                var __s_this = this;
                this.map = map; // сохрани в локальную переменную, потребуется для обработчика что добавляет полигон
                this.myCollection = new ymaps.GeoObjectCollection();

                var map_box = this.data.address.split(",");
                this.initMarket(map_box);
                window.mapsf = this.map;
                window.mapsf.setCenter(map_box);


            },
            onClick2(e) {

                this.myCollection.removeAll();
                this.initMarket(e.get('coords'));

            },
            drawPixi() {


                var _____this = this;

                if (typeof this.$route.query.restaurant_id != 'undefined') {
                    $(".model-panel_main").append('<input  name="save[restaurant_id]" value="' + this.$route.query.restaurant_id + '" type="hidden" class="form-control text text-s12">');
                }

                if (typeof this.$route.query.catalog_id != 'undefined') {
                    $(".model-panel_main").append('<input  name="save[catalog_id]" value="' + this.$route.query.catalog_id + '" type="hidden" class="form-control text text-s12">');
                }


                if (typeof this.$route.query.filter_id != 'undefined') {
                    $(".model-panel_main").append('<input  name="save[filter_id]" value="' + this.$route.query.filter_id + '" type="hidden" class="form-control text text-s12">');
                }


                if (this.model == "CatalogItem") {
                    axios.get('/api/database/get/Restaurant').then((response) => {
                        this.restaurant = response.data.data;
                    });
                }
                if (this.model == "Restaurant") {
                    axios.get('/api/get/filters').then((response) => {
                        this.myFilters = response.data.data;
                    });
                }
                if (this.model == "Restaurant") {
                    axios.get('/api/get/filters/' + this.id).then((response) => {
                        this.myFiltersCheck = response.data.data;
                    });
                }

                if (this.model == "Filter") {

                }

                if (this.model == "Catalog") {
                    axios.get('/api/database/get/CatalogItem?catalog_id=' + this.id).then((response) => {
                        $(".list_restoran").html('<a href="/admin/CatalogItem/edit/0?catalog_id=' + this.id + '" class="btn btn-def" style=" background-color: #6ebeec; color: #fff; margin-top: 1rem; ">Добавить Заведение</a>');
                        $.each(response.data.data, function (index, row) {
                            $(".list_restoran").prepend('<div class="lis_borks">' + (row["name"]) + ' <a href="javascript:void(null)" data-id="' + row["id"] + '"  class="btn del_restors">удалить заведение</a></div>');
                        });
                    });
                }

                if (this.model == "Restaurant") {
                    axios.get('/api/database/get/RestaurantHall?restaurant_id=' + this.id).then((response) => {

                    });
                    window.update_brif = function () {
                        var options_list = [ ['address', 'Регион'], ['Installment', 'Срок кредита'], ['Price', 'Цена'], ['link', 'Ссылка'], ['other', 'Другое']];
                        axios.get('/api/database/get/Brief?restaurant_id=' + _____this.id).then((response) => {
                            $(".menu_items_breaf").html('<a href="javascript:void(null)" class="btn add_objor btn-def" style="background-color: #6ebeec;color: #fff;margin-top: 1rem;font-size: 1.5rem;padding-top: 0;padding-bottom: 0;padding: 0 0.75rem;">+</a>');
                            $.each(response.data.data, function (index, row) {
                                var option_rander = '';
                                $.each(options_list, function (index_option, row_option) {
                                    option_rander += '<option value="' + row_option[0] + '"  ' + (row_option[0] == row["icon"] ? 'selected' : '') + ' >' + row_option[1] + '</option>';
                                });
                                $(".menu_items_breaf").prepend('<div class="input-text input-text-flex" > <select name="brief[' + row["id"] + '][icon]">' + option_rander + '</select>   <input name="brief[' + row["id"] + '][content]" value="' + (row["content"] == null ? '' : row["content"]) + '" type="text" class="form-control text text-s12" /> <a href="javascript:void(null)" data-id="' + row["id"] + '"  class="btn delete_brif text text-s14" style="color:red;">Удалить</a>  </div>');
                            });
                        });
                    }
                    window.update_brif();


                    $(".menu_items_breaf").html('<a href="javascript:void(null)" class="btn add_objor btn-def" style="background-color: #6ebeec;color: #fff;margin-top: 1rem;font-size: 1.5rem;padding-top: 0;padding-bottom: 0;padding: 0 0.75rem;">+</a>');


                    window.update_filtre = function () {
                        var options_list = [ ['address', 'Регион'], ['Installment', 'Срок кредита'], ['Price', 'Цена'], ['link', 'Ссылка'], ['other', 'Другое']];
                        $(".menu_items_filter").html("");
                        // axios.get('/api/database/get/Brief?restaurant_id=' + _____this.id).then((response) => {
                        //     $(".menu_items_filter").html('<a href="javascript:void(null)" class="btn add_filters btn-def" style="background-color: #6ebeec;color: #fff;margin-top: 1rem;font-size: 1.5rem;padding-top: 0;padding-bottom: 0;padding: 0 0.75rem;">+</a>');
                        //     $.each(response.data.data, function (index, row) {
                        //         var option_rander = '';
                        //         $.each(options_list, function (index_option, row_option) {
                        //             option_rander += '<option value="' + row_option[0] + '"  ' + (row_option[0] == row["icon"] ? 'selected' : '') + ' >' + row_option[1] + '</option>';
                        //         });
                        //         $(".menu_items_filter").prepend('<div class="input-text input-text-flex" > <select name="brief[' + row["id"] + '][icon]">' + option_rander + '</select>   <input name="brief[' + row["id"] + '][content]" value="' + (row["content"] == null ? '' : row["content"]) + '" type="text" class="form-control text text-s12" /> <a href="javascript:void(null)" data-id="' + row["id"] + '"  class="btn delete_brif text text-s14" style="color:red;">Удалить</a>  </div>');
                        //     });
                        // });
                    }
                    window.update_filtre();

                    $(".pixi_container").css("display", "flex");
                } else if (this.model == "RestaurantHall") {


                    axios.get('/api/database/get/SchemeElements?restaurant_id=' + _____this.data["restaurant_id"]).then((response) => {
                        $(".menu_items-icons_listing").html('<a href="/admin/SchemeElements/edit/0?restaurant_id=' + _____this.data["restaurant_id"] + '" class="btn btn-def" style=" margin-top: 1rem; border: 1px solid #ccc; background-color: honeydew;width:calc(25% - 1rem);margin-left:1rem;display: flex;align-items: center;justify-content: center; ">Добавить элемент</a>');
                        $.each(response.data.data, function (index, row) {
                            $(".menu_items-icons_listing").prepend('<div class="icon_add"><div class="icon_add_img" style="background-image: url(' + row["icon"] + ');"></div><div class="icon_nis">' + row["name"] + ' <a href="javascript:void(0)" data-img="' + row["icon"] + '" data-id="' + row["id"] + '" data-width="' + row["width"] + '" data-height="' + row["height"] + '" class="btn add_items" style=" color: green; margin-top: 0.5rem; ">Добавить</a> ' + (row["restaurant_id"] != "all" ? ' <a href="/admin/SchemeElements/edit/' + row["id"] + '" class="btn">Изменить</a>' : '') + '</div></div>');
                        });
                        $(".menu_items-icons_listing").prepend('<a href="javascript:void(null)" class="btn close_hell btn-def" style=" margin-top: 1rem; border: 1px solid #ccc; background-color: #c1c1c1; color: #000;width:calc(25% - 1rem);margin-left:1rem;display: flex;align-items: center;justify-content: center; ">Закрыть</a>');
                    });

                    $(".pixi_cons").html('<canvas id="pixi" class="pixi_main"></canvas>');


                    var canvas = new fabric.Canvas('pixi');
                    window.addEventListener('resize', resizeCanvas, false);

                    var __this = this;
                    var deleteIcon = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='utf-8'%3F%3E%3C!DOCTYPE svg PUBLIC '-//W3C//DTD SVG 1.1//EN' 'http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd'%3E%3Csvg version='1.1' id='Ebene_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='595.275px' height='595.275px' viewBox='200 215 230 470' xml:space='preserve'%3E%3Ccircle style='fill:%23F44336;' cx='299.76' cy='439.067' r='218.516'/%3E%3Cg%3E%3Crect x='267.162' y='307.978' transform='matrix(0.7071 -0.7071 0.7071 0.7071 -222.6202 340.6915)' style='fill:white;' width='65.545' height='262.18'/%3E%3Crect x='266.988' y='308.153' transform='matrix(0.7071 0.7071 -0.7071 0.7071 398.3889 -83.3116)' style='fill:white;' width='65.544' height='262.179'/%3E%3C/g%3E%3C/svg%3E";

                    var cloneIcon = "data:image/svg+xml,%3C%3Fxml version='1.0' encoding='iso-8859-1'%3F%3E%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' viewBox='0 0 55.699 55.699' width='100px' height='100px' xml:space='preserve'%3E%3Cpath style='fill:%23010002;' d='M51.51,18.001c-0.006-0.085-0.022-0.167-0.05-0.248c-0.012-0.034-0.02-0.067-0.035-0.1 c-0.049-0.106-0.109-0.206-0.194-0.291v-0.001l0,0c0,0-0.001-0.001-0.001-0.002L34.161,0.293c-0.086-0.087-0.188-0.148-0.295-0.197 c-0.027-0.013-0.057-0.02-0.086-0.03c-0.086-0.029-0.174-0.048-0.265-0.053C33.494,0.011,33.475,0,33.453,0H22.177 c-3.678,0-6.669,2.992-6.669,6.67v1.674h-4.663c-3.678,0-6.67,2.992-6.67,6.67V49.03c0,3.678,2.992,6.669,6.67,6.669h22.677 c3.677,0,6.669-2.991,6.669-6.669v-1.675h4.664c3.678,0,6.669-2.991,6.669-6.669V18.069C51.524,18.045,51.512,18.025,51.51,18.001z M34.454,3.414l13.655,13.655h-8.985c-2.575,0-4.67-2.095-4.67-4.67V3.414z M38.191,49.029c0,2.574-2.095,4.669-4.669,4.669H10.845 c-2.575,0-4.67-2.095-4.67-4.669V15.014c0-2.575,2.095-4.67,4.67-4.67h5.663h4.614v10.399c0,3.678,2.991,6.669,6.668,6.669h10.4 v18.942L38.191,49.029L38.191,49.029z M36.777,25.412h-8.986c-2.574,0-4.668-2.094-4.668-4.669v-8.985L36.777,25.412z M44.855,45.355h-4.664V26.412c0-0.023-0.012-0.044-0.014-0.067c-0.006-0.085-0.021-0.167-0.049-0.249 c-0.012-0.033-0.021-0.066-0.036-0.1c-0.048-0.105-0.109-0.205-0.194-0.29l0,0l0,0c0-0.001-0.001-0.002-0.001-0.002L22.829,8.637 c-0.087-0.086-0.188-0.147-0.295-0.196c-0.029-0.013-0.058-0.021-0.088-0.031c-0.086-0.03-0.172-0.048-0.263-0.053 c-0.021-0.002-0.04-0.013-0.062-0.013h-4.614V6.67c0-2.575,2.095-4.67,4.669-4.67h10.277v10.4c0,3.678,2.992,6.67,6.67,6.67h10.399 v21.616C49.524,43.26,47.429,45.355,44.855,45.355z'/%3E%3C/svg%3E%0A"

                    var deleteImg = document.createElement('img');
                    deleteImg.src = deleteIcon;

                    var cloneImg = document.createElement('img');
                    cloneImg.src = cloneIcon;

                    fabric.Object.prototype.transparentCorners = false;

                    function Add() {
                        var rect = new fabric.Rect({
                            left: 100,
                            top: 50,
                            fill: 'yellow',
                            width: 200,
                            height: 100,
                            objectCaching: false,
                            stroke: 'lightgreen',
                            strokeWidth: 4,
                        });
                        canvas.add(rect);
                        canvas.setActiveObject(rect);
                    }

                    function renderIcon(icon) {
                        return function renderIcon(ctx, left, top, styleOverride, fabricObject) {
                            var size = this.cornerSize;
                            ctx.save();
                            ctx.translate(left, top);
                            ctx.rotate(fabric.util.degreesToRadians(fabricObject.angle));
                            ctx.drawImage(icon, -size / 2, -size / 2, size, size);
                            ctx.restore();
                        }
                    }

                    fabric.Object.prototype.controls.deleteControl = new fabric.Control({
                        x: 0.5,
                        y: -0.5,
                        offsetY: -16,
                        offsetX: 16,
                        cursorStyle: 'pointer',
                        mouseUpHandler: deleteObject,
                        render: renderIcon(deleteImg),
                        cornerSize: 24
                    });

                    fabric.Object.prototype.controls.clone = new fabric.Control({
                        x: -0.5,
                        y: -0.5,
                        offsetY: -16,
                        offsetX: -16,
                        cursorStyle: 'pointer',
                        mouseUpHandler: cloneObject,
                        render: renderIcon(cloneImg),
                        cornerSize: 24
                    });

                    function deleteObject(eventData, transform) {
                        var target = transform.target;
                        var canvas = target.canvas;

                        var activeObject = canvas.getActiveObject();
                        if (typeof activeObject["values"] != "undefined") {
                            axios.post('/api/admin/delete_point', {"id": activeObject["values"]["id"]})
                                .then((response) => {
                                    ajax_object();
                                });
                            canvas.remove(activeObject);
                        } else {
                            var objectsInGroup = activeObject.getObjects();
                            canvas.discardActiveObject();
                            objectsInGroup.forEach(function (object) {
                                axios.post('/api/admin/delete_point', {"id": object["values"]["id"]})
                                    .then((response) => {
                                        ajax_object();
                                    });
                                canvas.remove(object);
                            });
                        }

                    }

                    function cloneObject(eventData, transform) {


                        var activeObject = canvas.getActiveObject();
                        if (typeof activeObject["values"] != "undefined") {

                            var sxsX = activeObject["scaleX"];
                            var sxsY = activeObject["scaleY"];

                            var formDatas = {
                                "offsetx": activeObject.left,
                                "offsety": activeObject.top,
                                "restaurant_hall_id": __this.id,
                                "scheme_elements_id": activeObject["values"]["scheme_elements_id"],
                                "scaleX": typeof sxsX != "undefined" ? sxsX : activeObject["values"]["scaleX"],
                                "scaleY": typeof sxsY != "undefined" ? sxsY : activeObject["values"]["scaleY"],
                                "name": "Стол "
                            };
                            axios.post('/api/admin/add_point', formDatas)
                                .then((response) => {
                                    ajax_object();
                                });

                        } else {
                            var objectsInGroup = activeObject.getObjects();

                            objectsInGroup.forEach(function (object) {

                                var x_plus = 0;
                                var y_plus = 0;
                                if (typeof object["group"] != "undefined") {
                                    x_plus = object["group"]["left"];
                                    y_plus = object["group"]["top"];
                                }
                                if (x_plus > 0) {
                                    x_plus += (object["left"] + (object["group"]["width"] / 2))
                                } else {
                                    x_plus = object["left"];
                                }
                                if (y_plus > 0) {
                                    y_plus += (object["top"] + (object["group"]["height"] / 2))
                                } else {
                                    y_plus = object["top"];
                                }

                                var formData = {
                                    "offsetx": x_plus,
                                    "offsety": y_plus,
                                    "restaurant_hall_id": __this.id,
                                    "scheme_elements_id": object["values"]["scheme_elements_id"],
                                    "scaleX": typeof object["scaley"] != "undefined" ? object["scaley"] : object["values"]["scaleX"],
                                    "scaleY": typeof object["scaley"] != "undefined" ? object["scaley"] : object["values"]["scaleY"],
                                    "name": "Стол "
                                };
                                axios.post('/api/admin/add_point', formData)
                                    .then((response) => {
                                        ajax_object();
                                    });
                            });
                        }

                    }


                    function resizeCanvas() {
                        canvas.setHeight($(".canvas-container").height());
                        canvas.setWidth($(".canvas-container").width());
                        canvas.renderAll();
                    }


                    resizeCanvas();

                    var offset_xs = 0;

                    canvas.on('object:modified', function (event) {
                        update_pobox();

                    });


                    canvas.on('mouse:wheel', function (opt) {
                        var delta = opt.e.deltaY;
                        var zoom = canvas.getZoom();
                        zoom *= 0.999 ** delta;
                        if (zoom > 20) zoom = 20;
                        if (zoom < 0.01) zoom = 0.01;

                        offset_xs += opt.e.offsetX;
                        canvas.zoomToPoint({x: opt.e.offsetX, y: opt.e.offsetY}, zoom);
                        opt.e.preventDefault();
                        opt.e.stopPropagation();
                    });


                    function zoomm_start() {

                        var zoom = canvas.getZoom();
                        var zoomX = ($("#pixi").width() / parseInt(__this.data.schema_size));
                        // $container.css("background-size", (((app.stage.scale.x == 0 ? 1 : app.stage.scale.x) * ((window.bk_size)) + "px")));
                        console.log(zoomX);
                        canvas.setZoom(zoomX);

                    }

                    zoomm_start();


                    const img_wh = new Image();
                    var height_propers = 0;
                    img_wh.onload = function () {
                        height_propers = (this.height / this.width);
                        fabric.Image.fromURL(__this.data.schema, function (myImg) {
                            //i create an extra var for to change some image properties
                            var img5 = myImg.set({
                                left: 0,
                                top: 0,
                                values: false,
                                selectable: false,
                                scaleX: (parseFloat(__this.data.schema_size) / myImg.width),
                                scaleY: (parseFloat(__this.data.schema_size) * height_propers) / myImg.height,
                            });
                            canvas.add(img5);
                        });

                    }
                    img_wh.src = __this.data.schema;

                    function startPan(event) {
                        if (event.button != 2) {
                            return;
                        }
                        var x0 = event.screenX,
                            y0 = event.screenY;

                        function continuePan(event) {
                            var x = event.screenX,
                                y = event.screenY;
                            canvas.relativePan({x: x - x0, y: y - y0});
                            x0 = x;
                            y0 = y;
                        }

                        function stopPan(event) {
                            $(window).off('mousemove', continuePan);
                            $(window).off('mouseup', stopPan);
                        };
                        $(window).mousemove(continuePan);
                        $(window).mouseup(stopPan);
                        $(window).contextmenu(cancelMenu);
                    };

                    var _sias = this;

                    function cancelMenu() {
                        $(window).off('contextmenu', cancelMenu);

                        var object = canvas.getActiveObject();

                        if (object != null) {
                            if (typeof object["values"] != "undefined") {
                                axios.get('/api/database/get/RestaurantScheme/' + object["values"]["id"]).then((response) => {
                                    $("#name").val(response.data.data["name"]);
                                    $("#id_s").val(response.data.data["id"]);
                                });
                                _sias.show();
                            }
                        }
                        return false;
                    }

                    $(document).on("click", ".send_rotate_new", function () {

                        axios.post('/api/database/update', {
                            "id": $("#id_s").val(),
                            "model_name": "RestaurantScheme",
                            "save": {"name": $("#name").val()}
                        })
                        _sias.hide();
                    });

                    $(".canvas-container").mousedown(startPan);

                    function update_pobox() {
                        var object = canvas.getObjects();

                        $.each(object, function (index, item) {
                            var x_plus = 0;
                            var y_plus = 0;
                            if (typeof item["group"] != "undefined") {
                                x_plus = item["group"]["left"];
                                y_plus = item["group"]["top"];
                            }
                            if (x_plus > 0) {
                                var zoomScaleX = 1;
                                if (typeof item["group"]["scaleX"] != "undefined") {
                                    zoomScaleX = item["group"]["scaleX"];
                                }
                                x_plus += ((item["left"] * zoomScaleX) + ((item["group"]["width"] * zoomScaleX) / 2))
                            } else {
                                x_plus = item["left"];
                            }
                            if (y_plus > 0) {

                                var zoomScaleY = 1;
                                if (typeof item["group"]["scaleY"] != "undefined") {
                                    zoomScaleY = item["group"]["scaleX"];
                                }
                                y_plus = (y_plus + ((((item["top"]) + ((item["group"]["height"]) / 2))) * zoomScaleY))
                            } else {
                                y_plus = item["top"];
                            }


                            if (item["values"] !== false) {
                                if (typeof item["values"]["id"] != "undefined") {
                                    var this_data = {
                                        id: item["values"]["id"],
                                        offsetx: x_plus,
                                        offsety: y_plus
                                    };


                                    var scaleX = 1;
                                    var scaleY = 1;
                                    if (typeof item["group"] != "undefined") {
                                        if (typeof item["group"]["scaleX"] != "undefined") {
                                            scaleX = item["group"]["scaleX"];
                                        }
                                    }
                                    if (typeof item["group"] != "undefined") {
                                        if (typeof item["group"]["scaleY"] != "undefined") {
                                            scaleY = item["group"]["scaleY"];
                                        }
                                    }

                                    this_data["scaleX"] = (item["scaleX"]) * scaleX;

                                    this_data["scaleY"] = (item["scaleY"]) * scaleY;


                                    if (typeof item["values"] != "undefined") {
                                        this_data["angle"] = item["angle"];
                                    }

                                    axios.post('/api/admin/update_point', this_data)
                                        .then((response) => {

                                        });
                                }
                            }
                        });
                    }

                    window.list_array = {};

                    window.timers_d = null;

                    function add_object(data) {
                        $.each(data, function (index, element) {
                            if (typeof window.list_array[element["id"]] == "undefined") {
                                fabric.Image.fromURL(element["icon"], function (myImg) {
                                    var img1 = myImg.set({
                                        left: parseFloat(element["offsetx"]),
                                        top: parseFloat(element["offsety"]),
                                        values: {
                                            id: element["id"],
                                            scaleX: element["scalex"],
                                            scaleY: element["scaley"],
                                            angle: parseFloat(element["angle"]),
                                            scheme_elements_id: element["scheme_elements_id"],
                                        },
                                        scaleX: element["scalex"],
                                        scaleY: element["scaley"],
                                        angle: (typeof element["angle"] != "undefined" ? element["angle"] : 0),
                                    });
                                    window.list_array[element["id"]] = true;

                                    img1.on('rotating', function () {
                                        if (window.timers_d != null) {
                                            clearTimeout(window.timers_d);
                                        }
                                        window.timers_d = setTimeout(function () {
                                            update_pobox();
                                        }, 300);
                                    });

                                    canvas.add(img1);
                                });
                            }
                        });
                    }

                    $('.alignment').click(function () {
                        var cur_value = $(this).attr('data-action');
                        var activeObj = canvas.getActiveObject() || canvas.getActiveGroup();
                        if (cur_value != '' && activeObj) {
                            process_align(cur_value, activeObj);
                            activeObj.setCoords();
                            canvas.renderAll();
                        } else {
                            alert('Please select a item');
                            return false;
                        }
                    });

                    /* Align the selected object */
                    function process_align(val, activeObj) {

                        const bound = activeObj.getBoundingRect()

                        switch (val) {

                            case 'x':
                                var max_width = 0;
                                $.each(activeObj._objects, function (index, val) {
                                    if (max_width < val.width) {
                                        max_width = val.width;
                                    }
                                });
                                activeObj.set({
                                    width: max_width
                                });
                                $.each(activeObj._objects, function (index, val) {
                                    if (max_width < val.width) {
                                        max_width = val.width;
                                    }
                                    val.set({
                                        left: 0 - (activeObj.width / 2)
                                    });
                                });
                                break;
                            case 'y':
                                var max_height = 0;
                                $.each(activeObj._objects, function (index, val) {
                                    if (max_height < val.height) {
                                        max_height = val.height;
                                    }
                                });
                                activeObj.set({
                                    height: max_height
                                });
                                $.each(activeObj._objects, function (index, val) {
                                    val.set({
                                        top: 0 - (activeObj.height / 2)
                                    });
                                });
                                break;
                                break;
                        }
                    }

                    function ajax_object() {
                        axios.get('/api/admin/get_point/' + __this.id, [])
                            .then((response) => {
                                add_object(response.data.data);
                            });
                    }

                    ajax_object();


                    var time_cons = null;

                    function endScale(items) {

                        update_pobox();

                    }

                    function onObjectScaled(e) {
                        if (time_cons == null) {
                            time_cons = setTimeout(function () {
                                endScale(e.target);
                            }, 1000)
                        } else {
                            clearTimeout(time_cons);
                            time_cons = setTimeout(function () {
                                endScale(e.target);
                            }, 1000)
                        }
                    }

                    canvas.on('object:scaling', onObjectScaled);

                    $(document).off('click', '.add_items');
                    $(document).on('click', '.add_items', function (e) {
                        e.preventDefault()

                        var zoom = canvas.viewportTransform[0];
                        var x_s = canvas.viewportTransform[4];
                        var y_s = canvas.viewportTransform[5];


                        var $this = $(this);
                        //
                        var zoomX = (1 / zoom);
                        var zoomY = (1 / zoom);
                        //
                        var formData = {
                            "offsetx": ((x_s * zoomX) * -1) + (($("#pixi").width() / 2) * zoomX),
                            "offsety": ((y_s * zoomY) * -1) + (($("#pixi").height() / 2) * zoomY),
                            "restaurant_hall_id": __this.id,
                            "scheme_elements_id": $this.data("id"),
                            "name": "Стол "
                        };
                        // + ( + 1)
                        //
                        //
                        $(".menu_items.menu_items-icons").removeClass("active");
                        axios.post('/api/admin/add_point', formData)
                            .then((response) => {
                                ajax_object();
                            });

                        return false;
                    });


                    var isObjectMoving = false;
                    canvas.on('object:moving', function (event) {
                        isObjectMoving = true;
                    });


                    function getSelection() {
                        return canvas.getActiveObject() == null ? canvas.getActiveGroup() : canvas.getActiveObject()
                    }

                    $('html').keyup(function (e) {
                        if (e.keyCode == 46) {
                            // console.log(canvas.getActiveObject())
                            var activeObject = canvas.getActiveObject();
                            if (typeof activeObject["values"] != "undefined") {
                                if (confirm('Удалить?')) {
                                    axios.post('/api/admin/delete_point', {"id": activeObject["values"]["id"]})
                                        .then((response) => {
                                            ajax_object();
                                        });
                                    canvas.remove(activeObject);
                                }
                            } else {
                                if (confirm('Удалить?')) {
                                    var objectsInGroup = activeObject.getObjects();
                                    canvas.discardActiveObject();
                                    objectsInGroup.forEach(function (object) {
                                        axios.post('/api/admin/delete_point', {"id": object["values"]["id"]})
                                            .then((response) => {
                                                ajax_object();
                                            });
                                        canvas.remove(object);
                                    });
                                }
                            }
                        }

                    });


                    canvas.on('mouse:up', function (event) {


                        if (isObjectMoving) {
                            isObjectMoving = false;

                            update_pobox();
                        }
                    });


                } else {
                    $(".pixi_container").css("display", "none");
                }
            },


            fetchData() {
                this.model = this.$route.params.model;
                this.id = this.$route.params.id;
                axios.get('/api/database/' + this.model + "/edit_column/" + this.id).then((response) => {
                    this.inputs = response.data.data;
                    axios.get('/api/database/get/' + this.model + '/' + this.id).then((response) => {
                        this.data = response.data.data;
                        this.drawPixi();
                    });
                });


            },
            database_save(inputs) {
                const formData = serialize(inputs.target);

                formData.append("id", this.id);
                formData.append("model_name", this.model);
                formData.append("model_name", this.model);

                axios.post('/api/database/update', formData)
                    .then((response) => {
                        this.id = response.data.data[0]["id"];

                        if (this.model == "Media") {
                            this.$router.push("/admin/Media/browse?restaurant_id=" + this.$route.query.restaurant_id);
                        } else if (this.model == "CatalogItem") {
                            this.$router.push("/admin/Catalog/edit/" + response.data.data[0]["catalog_id"]);
                        } else if (this.model == "FilterItem") {
                            this.$router.push("/admin/Filter/edit/" + response.data.data[0]["filter_id"]);
                        } else {
                            if (location.pathname == "/admin/" + this.model + "/edit/" + response.data.data[0]["id"]) {
                                this.data = response.data.data[0];
                            } else {
                                this.$router.push("/admin/" + this.model + "/edit/" + response.data.data[0]["id"]);
                            }

                            this.$notify({
                                group: 'notifications',
                                type: 'success',
                                title: 'Запись обновлена',
                            });
                            this.drawPixi();
                        }
                    });

            }
        }
}


</script>
