<template>

    <form @submit.prevent="send_reserv" onSubmit="return false;" method="post"
          class="model_edit">

        <div class="breadcrumb-nav">
            <div class="breadcrumb">
                <div class="breadcrumb_main">
                    <router-link to="/admin" class="breadcrumb-item">
                        <i class="material-icons text text-s10">dashboard</i>
                        <p class="text text-s10">
                            Карта броний
                        </p>
                    </router-link>
                </div>
            </div>
        </div>

        <div class="model_edit_head">
            <i class="material-icons text text-m05 text-s24">cloud_queue</i>
            <span class="text text-s18">Карта броний</span>

        </div>

        <div method="post"
             class="model_edit">

            <div class="model-panel">
                <div class="model-panel_main">
                    <div class="input-text">
                        <p class="text text-s12 input_name">
                            Заведение
                        </p>

                        <select name="id" @change="onRestaurant()" v-model="restaurant_id"
                                class="text text-s12">
                            <option value="">Не выбран</option>
                            <option :value="column['id']" v-for="(column,column_index) in restaurant">{{
                                column["name"]
                                }}
                            </option>
                        </select>
                    </div>
                    <div class="input-text">
                        <p class="text text-s12 input_name">
                            Зал
                        </p>
                        <select name="hall" @change="onHall()" v-model="hall_id" class="text text-s12">
                            <option value="">Не выбран</option>
                            <option :value="column['id']" v-for="(column,column_index) in hall">{{
                                column["name"]
                                }}
                            </option>
                        </select>
                    </div>

                    <div class="input-text">
                        <p class="text text-s12 input_name">
                            Бронировать с
                        </p>
                        <input @change="onTimeFrom()" type="datetime-local" name="from" v-model="time_from">
                    </div>

                    <div class="input-text">
                        <p class="text text-s12 input_name">
                            Бронировать по
                        </p>
                        <input @change="onTimeTo()" name="to" type="datetime-local" v-model="time_to">
                    </div>

                    <div class="input-text" v-if="stol_hover.length!=[]">
                        <div class="input-text">
                            <p class="text text-s12 input_name">
                                Имя
                            </p>
                            <input placeholder="" v-model="name" class="form-control text text-s12"/>
                        </div>
                        <div class="input-text">
                            <p class="text text-s12 input_name">
                                Телефон
                            </p>
                            <input placeholder="" v-model="tel" class="form-control text text-s12"/>
                        </div>
                        <div class="input-text">
                            <p class="text text-s12 input_name">
                                Количество персон
                            </p>
                            <input placeholder="" v-model="person" class="form-control text text-s12"/>
                        </div>
                        <input type="submit" style="margin-left: 0;margin-top: 1rem;"
                               class="btn btn-success btn-mate text text-s14"
                               value="Забронировать">
                    </div>


                    <div class="maps_controls" style="margin-top: 1rem;">
                        <div class="pixi_cons canvas-container">
                            <canvas id="pixi" class="pixi_main"></canvas>
                        </div>

                        <div class="control_items position_update">
                            <a href="javascript:void(null)"
                               class="open_edit_items btn-stiling data_edit text text-s18">Схема брони</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </form>
</template>


<script>


import {serialize} from "../../../../../overall/js/app";

import * as PIXI from "pixi.js";
import {fabric} from "fabric";

var zoom_controls = null;


export default {
    data() {
        return {
            inputs: [],
            restaurant: [],
            hall: [],
            hall_one: [],
            stol: [],
            stol_hover: [],
            reserved: [],
            time_from: null,
            time_to: null,
            restaurant_id: null,
            hall_id: null,
            name: "",
            tel: "",
            person: "",
        }
    },
    created() {
        this.fetchData();
    },
    watch: {
        // при изменениях маршрута запрашиваем данные снова
        $route: 'fetchData'
    },
    methods:
        {
            send_reserv() {
                var formData = new FormData();
                formData.append("hall_id", this.hall_id);
                formData.append("from", $('[name="from"]').val());
                formData.append("to", $('[name="to"]').val());
                formData.append("restaurant_id", this.restaurant_id);
                formData.append("tel", this.tel);
                formData.append("name", this.name);
                formData.append("stol", this.stol_hover);
                formData.append("person", this.person);

                axios.post('/api/reserved/save', formData)
                    .then((response) => {
                        this.$notify({
                            group: 'notifications',
                            type: 'success',
                            title: 'Столы забронированы',
                        });
                    });
                this.methodRander();

            },
            methodRander() {

                if (this.time_from != null && this.time_to != null && this.time_to != null && this.hall_one != []) {

                    var formData = {
                        "id": this.restaurant_id,
                        "from": "" + $('[name="from"]').val(),
                        "to": "" + $('[name="to"]').val(),
                        "hall": this.hall_id,
                    };
                    axios.post('/api/reserved', formData).then((response) => {
                        this.stol_hover = [];
                        this.reserved = response.data.data;
                        this.drawPixi();
                    });
                }
            },
            onTimeFrom() {
                this.methodRander();
            },
            onTimeTo() {
                this.methodRander();
            },
            drawPixi() {


                $(".pixi_cons").html('<canvas id="constructor" class="pixi_main"></canvas>');


                var table_list = [];
                var date = "";
                var time = "";
                var $container = $("#constructor");
                var hall = this.hall_one;

                var canvas = new fabric.Canvas('constructor', {
                    allowTouchScrolling: true,
                });
                window.addEventListener('resize', resize, false);
                fabric.Object.prototype.transparentCorners = false;
                canvas.selection = false;
                fabric.Object.prototype.cornerColor = 'transparent';
                fabric.Object.prototype.cornerStyle = 'circle';
                fabric.Object.prototype.hasControls = false;
                fabric.Object.prototype.hasBorders = false;


                function resize() {
                    canvas.setHeight($(".canvas-container").height());
                    canvas.setWidth($(".canvas-container").width());
                    canvas.renderAll();
                }

                resize();

                var movaNo = false;

                window.zoogetra = null;
                var timouts = null;
                $(".canvas-container").on('pinching', function (event) {
                    zoom_controls = true;

                    if (window.zoogetra == null) {
                        window.zoogetra = canvas.getZoom();
                    }
                    if (typeof window.distance != "undefined") {

                        var zoom = canvas.viewportTransform[0];
                        var x_s = canvas.viewportTransform[4];
                        var y_s = canvas.viewportTransform[5];
                        var zoomX = (1 / zoom);
                        var zoomY = (1 / zoom);

                        var zoom = window.zoogetra;

                        var x = ((((x_s * zoomX) * -1) + (($("#constructor").width() / 2) * zoomX)) / 2);

                        var y = (((y_s * zoomY) * -1) + (($("#constructor").height() / 2) * zoomY) / 2);

                        zoom *= 0.999 ** ((window.distance) * -1);
                        canvas.zoomToPoint({x: 0, y: 0}, zoom);
                    }
                }).on('pinchIn', function (event) {
                    if (timouts != null) {
                        clearTimeout(timouts);
                    }
                    timouts = setTimeout(function () {
                        zoom_controls = false;
                        timouts = null;
                    }, 300);
                    window.zoogetra = null;
                }).on('pinchOut', function (event) {
                    window.zoogetra = null;
                    if (timouts != null) {
                        clearTimeout(timouts);
                    }
                    timouts = setTimeout(function () {
                        zoom_controls = false;
                        timouts = null;
                    }, 300);
                });

                var __s_this = this;

                canvas.on({
                    'mouse:down': function (e) {
                        movaNo = false;
                    },
                    'mouse:up': function (e) {

                        if (e.target) {
                            if (!movaNo && !zoom_controls) {
                                if (typeof e.target["values"]["id"] != "undefined") {
                                    if (e.target.opacity == 0.3) {
                                        e.target.opacity = 1;
                                        var index = __s_this.stol_hover.indexOf(e.target["values"]["id"]);
                                        if (index > -1) {
                                            __s_this.stol_hover.splice(index, 1);
                                        }
                                    } else {
                                        if (e.target["values"]["type"]) {
                                            e.target.opacity = 0.3;
                                            __s_this.stol_hover.push(e.target["values"]["id"]);
                                        } else {
                                            if (confirm('Открыть схему столика?')) {
                                                window.open("https://teamgis.a-lux.dev/admin/Reservation/browse?restaurant_scheme_id=" + e.target["values"]["id"] + "&from=" + $('[name="from"]').val() + "&to=" + $('[name="to"]').val());
                                            }

                                        }
                                    }
                                    // window.location.href = location.origin + location.pathname + "#tables=" + table_list.join(",") + ";time=" + time + ";date=" + date + ";";

                                    canvas.renderAll();
                                }
                            }
                        }

                    }
                });


                var offset_xs = 0;

                var pausePanning = true;
                var zoomStartScale = 0;


                canvas.on('mouse:move', function (opt) {
                    // var delta = opt.e.deltaY;
                    // var zoom = canvas.getZoom();
                    // zoom *= 0.999 ** delta;
                    // if (zoom > 20) zoom = 20;
                    // if (zoom < 0.01) zoom = 0.01;
                    //
                    // $("#consa2").html(opt.e.offsetX);
                    // // offset_xs += opt.e.offsetX;
                    // // canvas.zoomToPoint({x: opt.e.offsetX, y: opt.e.offsetY}, zoom);
                    // opt.e.preventDefault();
                    // opt.e.stopPropagation();
                });

                canvas.on('mouse:wheel', function (opt) {
                    var delta = opt.e.deltaY;

                    console.log(delta);
                    var zoom = canvas.getZoom();
                    zoom *= 0.999 ** delta;
                    if (zoom > 20) zoom = 20;
                    if (zoom < 0.01) zoom = 0.01;

                    offset_xs += opt.e.offsetX;
                    canvas.zoomToPoint({x: opt.e.offsetX, y: opt.e.offsetY}, zoom);
                    opt.e.preventDefault();
                    opt.e.stopPropagation();
                });


                function zoomm_start() {

                    var zoom = canvas.getZoom();
                    var zoomX = ($container.width() / parseInt(hall["schema_size"]));
                    // $container.css("background-size", (((app.stage.scale.x == 0 ? 1 : app.stage.scale.x) * ((window.bk_size)) + "px")));
                    canvas.setZoom(zoomX);


                }

                zoomm_start();


                const img_wh = new Image();
                var height_propers = 0;
                img_wh.onload = function () {
                    height_propers = (this.height / this.width);

                    fabric.Image.fromURL(hall["schema"], function (myImg) {

                        //i create an extra var for to change some image properties
                        var img5 = myImg.set({
                            left: 0,
                            top: 0,
                            values: false,
                            selectable: false,
                            scaleX: (parseInt(hall["schema_size"]) / myImg.width),
                            scaleY: (parseInt(hall["schema_size"]) * height_propers) / myImg.height,
                        });
                        canvas.add(img5);
                    });

                }
                img_wh.src = hall["schema"];


                function zoom(s, x, y) {

                }


                function jsend(valuehg, dataelx, evalx, errorj, type) {


                    var CSRF_TOKEN = "",
                        dateof = {_token: CSRF_TOKEN},
                        deteextend = $.extend(dataelx, dateof);


                    if (typeof evalx == "undefined") {
                        evalx = "";
                    }

                    if (typeof errorj == "undefined") {
                        errorj = "";
                    }
                    if (typeof type == "undefined") {
                        type = "POST";
                    }

                    $.ajax({
                        /* the route pointing to the post function */
                        url: valuehg,
                        type: type,
                        /* send the csrf-token and the input to the controller */
                        data: deteextend,
                        /* remind that 'data' is the response of the AjaxController */
                        success: function (data) {

                            eval(evalx);

                        },
                        error: function (data) {
                            eval(errorj);
                        }
                    });
                }

                function createGraphics(settingIn) {

                }


                function onMoveStart(event) {
                    // event.stopPropagation();
                    //
                    // if (this.alpha == 0.3) {
                    //     this.alpha = 1;
                    //     var index = table_list.indexOf(this.data.id);
                    //     if (index > -1) {
                    //         table_list.splice(index, 1);
                    //         // console.log(table_list);
                    //     }
                    // } else {
                    //     this.alpha = 0.3;
                    //     table_list.push(this.data.id);
                    //
                    // }
                    //
                    // window.location.href = location.origin + location.pathname + "#tables=" + table_list.join(",") + ";time=" + time + ";date=" + date + ";";
                    //
                    // this.dragging = true;
                }

                date = $('#date').val();
                $(document).on('change', '#date', function (e) {
                    date = $(this).val();
                    window.location.href = location.origin + location.pathname + "#tables=" + table_list.join(",") + ";time=" + time + ";date=" + date + ";";
                });

                time = $('#time').val();
                $(document).on('change', '#time', function (e) {
                    time = $(this).val();
                    window.location.href = location.origin + location.pathname + "#tables=" + table_list.join(",") + ";time=" + time + ";date=" + date + ";";
                });


                function startPan(event) {
                    if (event.button != 2) {
                        return;
                    }
                    var x0 = event.screenX,
                        y0 = event.screenY;

                    function continuePan(event) {
                        var x = event.screenX,
                            y = event.screenY;
                        canvas.relativePan({x: x - x0, y: y - y0});
                        x0 = x;
                        y0 = y;
                    }

                    function stopPan(event) {
                        $(window).off('mousemove', continuePan);
                        $(window).off('mouseup', stopPan);
                    };
                    $(window).mousemove(continuePan);
                    $(window).mouseup(stopPan);
                    $(window).contextmenu(cancelMenu);
                };

                function cancelMenu() {
                    $(window).off('contextmenu', cancelMenu);


                    return false;
                }

                $(".canvas-container").mousedown(startPan);

                window.list_array = [];

                function add_object(data) {

                    $.each(data.data, function (index, element) {


                        var control_hell = true;
                        $.each(window.reserv, function (index_is, element_is) {
                            if (element["id"] == element_is["restaurant_scheme_id"]) {
                                control_hell = false;
                            }
                        });
                        if (typeof window.list_array[element["id"]] == "undefined") {

                            fabric.Image.fromURL(control_hell ? element["icon"] : element["iconbooked"], function (myImg) {
                                var img1 = myImg.set({
                                    left: parseFloat(element["offsetx"]),
                                    top: parseFloat(element["offsety"]),
                                    values: {
                                        id: element["id"],
                                        scaleX: element["scalex"],
                                        type: control_hell,
                                        scaleY: element["scaley"],
                                        angle: parseFloat(element["angle"]),
                                        scheme_elements_id: element["scheme_elements_id"],
                                    },
                                    scaleX: element["scalex"],
                                    scaleY: element["scaley"],
                                    angle: (typeof element["angle"] != "undefined" ? element["angle"] : 0),

                                });
                                window.list_array[element["id"]] = true;
                                img1.lockMovementX = true;
                                img1.lockMovementY = true;
                                canvas.add(img1);
                            });
                        }
                    });

                }

                function ajax_object() {
                    jsend('/api/admin/get_point/' + hall["id"], {}, "add_object(data);", "", "GET")
                }

                window.reserv_get = function (data) {

                    window.reserv = data.data;
                    ajax_object();
                }

                window.chenchdate = function () {
                    var sen_inputs = {
                        "id": hall["restaurant_id"],
                        "from": "" + $('[name="from"]').val(),
                        "to": "" + $('[name="to"]').val(),
                        "hall": hall["id"],
                    };
                    jsend('/api/reserved', sen_inputs, "reserv_get(data);", "", "POST")
                }


                $(document).on('change', '.date_box', function (e) {
                    window.chenchdate();
                });
                window.chenchdate();


            },
            onHall() {
                axios.get('/api/database/get/RestaurantHall/' + this.hall_id).then((response) => {
                    this.hall_one = response.data.data;
                    $("#constructor").html("");
                    this.methodRander();
                });
            },
            onRestaurant() {
                axios.get('/api/database/get/RestaurantHall?restaurant_id=' + this.restaurant_id).then((response) => {
                    this.hall = response.data.data;
                });
            },

            fetchData() {


                var _token = localStorage.getItem('token');
                var _s_this = this;
                $.ajax({
                    url: '/api/database/get/Restaurant',
                    type: "GET",
                    async: false,
                    cache: false,
                    headers: {
                        'Accept': 'application/json',
                        'Authorization': 'Bearer ' + _token
                    },
                    success: function (response) {
                        _s_this.restaurant = response.data;
                    },
                    error: function (res) {

                    }
                });


                this.model = this.$route.params.model;
                this.id = this.$route.params.id;
                axios.get('/api/database/' + this.model + "/edit_column/" + this.id).then((response) => {
                    this.inputs = response.data.data;
                    axios.get('/api/database/get/' + this.model + '/' + this.id).then((response) => {
                        this.data = response.data.data;
                    });
                });

            },

        }
}


</script>
