<template>
    <div class="model_edit">
        <form method="post" @submit.prevent="chfile">
            <breadcrumb :breadcrumb="breadcrumb"/>
        </form>
    </div>
</template>


<script>

import {inArray, serialize} from "../../../../overall/js/app";
import breadcrumb from "../components/breadcrumb";

export default {
    components: {
        'breadcrumb': breadcrumb,
    },
    data() {
        return {
            model: '',
            breadcrumb: [
                {
                    "icon": "dashboard",
                    "name": "Консоль",
                    "link": "/admin",
                }
            ],
        }
    },
    created() {

    },
    methods:
        {
            chfile(inputs) {
                const formData = serialize(inputs.target);
                axios.post('/api/ferialfile', formData)
                    .then((response) => {
                        this.model = "/" + response["data"]["data"];
                    });
                return false;
            },
            checkfile(inputs) {
                const formData = serialize(inputs.target);
                axios.post('/api/checkgile', formData)
                    .then((response) => {
                        this.validation = response["data"]["data"];
                    });
                return false;
            }
        }
}


</script>
