<template>
    <form @submit.prevent="database_save" onSubmit="return false;" method="post"
          class="model_edit">
        <breadcrumb :breadcrumb="breadcrumb"/>

        <input type="hidden" name="id" :value="id">
        <input type="file" name="files[]" required multiple/>
        <input type="submit">
    </form>
</template>


<script>

import {inArray, serialize} from "../../../../overall/js/app";
import breadcrumb from "../components/breadcrumb";

export default {
    components: {
        'breadcrumb': breadcrumb,
    },
    data() {
        return {
            model: '',
            id: this.$route.query.restaurant_id,
            breadcrumb: [
                {
                    "icon": "dashboard",
                    "name": "Вернуться в ресторан",
                    "link": "/admin/Restaurant/edit/" + this.$route.query.restaurant_id,
                },
                {
                    "icon": "dashboard",
                    "name": "Мультик загрузка",
                    "link": "/admin",
                }
            ],
        }
    },
    created() {

    },
    methods:
        {
            chfile(inputs) {
                const formData = serialize(inputs.target);
                axios.post('/api/ferialfile', formData)
                    .then((response) => {
                        this.model = "/" + response["data"]["data"];
                    });
                return false;
            },
            checkfile(inputs) {
                const formData = serialize(inputs.target);
                axios.post('/api/checkgile', formData)
                    .then((response) => {
                        this.validation = response["data"]["data"];
                    });
                return false;
            },
            database_save(inputs) {
                const formData = serialize(inputs.target);


                axios.post('/api/update/files', formData)
                    .then((response) => {
                        this.$router.push("/admin/Media/browse?restaurant_id=" + this.$route.query.restaurant_id);
                        this.$notify({
                            group: 'notifications',
                            type: 'success',
                            title: 'Запись обновлена',
                        });
                    });

            }
        }
}


</script>
